<%- include('header_navbar') -%>

<section id="carousel">
  <div id="productsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active product1" data-bs-interval="5000">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="carousel-caption d-md-block">
          <h5>Produkt nr 1</h5>
          <p>Krótki opis dla produktu nr 1.</p>
        </div>
      </div>
      <div class="carousel-item product2" data-bs-interval="5000">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="carousel-caption d-md-block">
          <h5>Produkt nr 2</h5>
          <p>Krótki opis dla produktu nr 2.</p>
        </div>
      </div>
      <div class="carousel-item product3" data-bs-interval="5000">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="carousel-caption d-md-block">
          <h5>Produkt nr 3</h5>
          <p>Krótki opis dla produktu nr 3.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 product-box yellow">
        <div class="dummy"></div>
        <!-- <img src="..." alt="Zdjęcie / grafika produktu."> -->
        <div class="content">
          <h6>Produkt</h6>
          <p>Hasło reklamowe produktu.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 product-box blue">
        <div class="dummy"></div>
        <!-- <img src="..." alt="Zdjęcie / grafika produktu."> -->
        <div class="content">
          <h6>Produkt</h6>
          <p>Hasło reklamowe produktu.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 product-box red">
        <div class="dummy"></div>
        <!-- <img src="..." alt="Zdjęcie / grafika produktu."> -->
        <div class="content">
          <h6>Produkt</h6>
          <p>Hasło reklamowe produktu.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 product-box purple">
        <div class="dummy"></div>
        <!-- <img src="..." alt="Zdjęcie / grafika produktu."> -->
        <div class="content">
          <h6>Produkt</h6>
          <p>Hasło reklamowe produktu.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 product-box green">
        <div class="dummy"></div>
        <!-- <img src="..." alt="Zdjęcie / grafika produktu."> -->
        <div class="content">
          <h6>Produkt</h6>
          <p>Hasło reklamowe produktu.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 product-box orange">
        <div class="dummy"></div>
        <!-- <img src="..." alt="Zdjęcie / grafika produktu."> -->
        <div class="content">
          <h6>Produkt</h6>
          <p>Hasło reklamowe produktu.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('footer') -%>
