<%- include('header_navbar') -%>

<section id="carousel">
  <div id="productsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="row carousel-ancestor">
          <div class="col-lg-5 offset-1 content-left d-flex align-items-center">
            <img class="carousel-img-1" src="images/phone-carousel-1.png" alt="Product picture.">
          </div>
          <div class="col-lg-6 content-right d-flex align-items-center">
            <div class="header-position">
              <h5>Produkt nr 1</h5>
              <p>Krótki opis dla produktu nr 1.</p>
              <p><a class="btn btn-lg btn-outline-dark" href="#">Dowiedz się więcej</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="carousel-back d-flex align-items-center">
          <div class="mx-auto">
            <img class="carousel-img-2-sm mx-4" src="images/phone-carousel-1.png">
            <img class="carousel-img-2-lg mx-4" src="images/phone-carousel-1.png">
            <img class="carousel-img-2-sm mx-4" src="images/phone-carousel-1.png">
          </div>
        </div>
        <div class="carousel-front d-flex align-items-center">
          <div class="mx-auto text-center">
            <h5>Produkt nr 2</h5>
            <p>Krótki opis dla produktu nr 2.</p>
            <p><a class="btn btn-lg btn-outline-dark" href="#">Dowiedz się więcej</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="row carousel-ancestor">
          <div class="col-lg-5 offset-1 content-left d-flex align-items-center">
            <img class="carousel-img-1" src="images/phone-carousel-1.png" alt="Product picture.">
          </div>
          <div class="col-lg-6 content-right d-flex align-items-center">
            <div class="header-position">
              <h5>Produkt nr 3</h5>
              <p>Krótki opis dla produktu nr 3.</p>
              <p><a class="btn btn-lg btn-outline-dark" href="#">Dowiedz się więcej</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 position-relative">
        <div class="dummy"></div>
        <a href="#">
          <div class="content d-flex align-items-top">
            <div class="sub-content">
              <h6>Produkt</h6>
              <p>Hasło reklamowe produktu.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 position-relative">
        <div class="dummy"></div>
        <a href="#">
          <div class="content d-flex align-items-top">
            <div class="sub-content">
              <h6>Produkt</h6>
              <p>Hasło reklamowe produktu.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 position-relative">
        <div class="dummy"></div>
        <a href="#">
          <div class="content d-flex align-items-top">
            <div class="sub-content">
              <h6>Produkt</h6>
              <p>Hasło reklamowe produktu.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 position-relative">
        <div class="dummy"></div>
        <a href="#">
          <div class="content d-flex align-items-top">
            <div class="sub-content">
              <h6>Produkt</h6>
              <p>Hasło reklamowe produktu.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 position-relative">
        <div class="dummy"></div>
        <a href="#">
          <div class="content d-flex align-items-top">
            <div class="sub-content">
              <h6>Produkt</h6>
              <p>Hasło reklamowe produktu.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 position-relative">
        <div class="dummy"></div>
        <a href="#">
          <div class="content d-flex align-items-top">
            <div class="sub-content">
              <h6>Produkt</h6>
              <p>Hasło reklamowe produktu.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('footer') -%>
