hr {
  margin: 0 auto;
  width: 80%;
}

.container-fluid {
  width: 90%;
}

.brand-img {
  max-width: 50px;
}

/* Wyrównanie menu do prawej strony. */

.navbar-toggler {
  border: 0;
  border-radius: 0;
  /* Postarać się aby przy naciśnięciu przycisku dropdown menu nie pojawiała się obwódla szara wokół. */
}

.carousel-btn {
  background-color: #000;
}

.carousel-caption {
  color: #000;
} /* Tymczasowe */

.carousel-item {
  height: 500px;
} /* Tymczasowe */
