/* CONTAINERS SECTION */

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 90%;
}

#products .container-fluid {
  margin: 5% auto;
}

/* || NAVBAR SECTION */

.brand-img {
  animation-name: logo-hover-off;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 50px;
  height: 50px;
  width: 50px;
}

.brand-img:hover {
  animation-name: logo-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes logo-hover {
  from { background-image: url('/images/brand-logo-192.png'); }
  to { background-image: url('/images/brand-logo-hover-192.png'); }
}

@keyframes logo-hover-off {
  from { background-image: url('/images/brand-logo-hover-192.png'); }
  to { background-image: url('/images/brand-logo-192.png'); }
}

.navbar {
  padding: 1.5rem 0;
}

.navbar-toggler {
  transition: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

.navbar-toggler:focus {
  /* Wyłącza szarą obwódkę wokół przycisku po jego naciśnięciu. */
  box-shadow: none;
}

.nav-link {
  margin-left: 1.75rem;
}

@media (max-width: 991px) {
  .nav-link {
    margin-left: 0.5rem;
  }
}

/* || CAROUSEL SECTION */
#carousel {
  height: calc(100vh - 98px);
}

.carousel-btn {
  background-color: #000;
}

.carousel-caption {
  color: #000;
}

.carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-item {
  height: calc(100vh - 92px);
  position: relative;
}

/* || PRODUCTS SECTION */

.dummy {
  margin-top: 100%;
} /* Do kwadratowych divów. */

.content {
  animation-name: product-off;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-image: url('/images/phone-carousel-1.png');
  background-position: 50% 80%;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 98%;
  left: 1%;
  padding: 2rem 1.5rem 1.5rem;
  position: absolute;
  text-align: center;
  top: 1%;
  width: 98%;
}

.content::before {
  background-color: rgba(0,0,0,0.25);
}

.content:hover {
  animation-name: product-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes product-hover {
  from {
    background-size: auto 50%;
    background-color: #F5F5F5;
    color: transparent;
    /* opacity: 1; */
  }
  to {
    background-size: auto 60%;
    background-color: #CCCCCC;
    color: #000000;
    /* opacity: 0.4; */
  }
}

@keyframes product-off {
  from {
    background-size: auto 60%;
    background-color: #CCCCCC;
    color: #000000;
    /* opacity: 0.4; */
  }
  to {
    background-size: auto 50%;
    background-color: #F5F5F5;
    color: transparent;
    /* opacity: 1; */
  }
}

.sub-content {
  opacity: 1;
  text-align: center;
  width: 100%;
}

/* || FOOTER SECTION */

#footer {
  background-color: #000000;
  color: #FFFFFF;
}

#footer .nav-link {
  margin-left: 0;
}

.footer-final {
  margin-bottom: 0;
}

@media (max-width: 991px) {
.sitemap .offset-1 {
    margin-left: 0;
  }

}

/* CAROUSEL NO. 1 SECTION */
.carousel-img-1 {
  max-height: 70vh;
  transform: rotateZ(15deg);
}

.carousel-item .row {
  height: 100%;
  position: relative;
}

.content-left {
  direction: rtl;
  height: 100%;
  margin-left: 4%;
}

.content-right {
  height: 100%;
}

.header-position {
  margin-left: 3vw;
}

@media (max-width: 991px) {
  .carousel-ancestor .offset-1 {
    margin-left: 0;
  }

  .carousel-img-1 {
    max-height: 70vh;
    margin: 0 auto;
    transform: none;
    opacity: 0.5;
  }

  .content-left, .content-right {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .content-left {
    z-index: 0;
  }

  .content-right {
    text-align: center;
    z-index: 1;
  }

  .header-position {
    margin-left: auto;
    margin-right: auto;
  }
}

/* CAROUSEL NO. 2 SECTION */

.carousel-back, .carousel-front {
  /* padding: 0; */
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel-back {
  z-index: 0;
}

.carousel-front {
  z-index: 1;
}

.carousel-img-2-lg {
  max-height: 70vh;
  opacity: 0.7;
}

.carousel-img-2-sm {
  max-height: 50vh;
  opacity: 0.7;
}

@media (max-width: 767px) {

  .carousel-img-2-sm {
    display: none;
  }

}
